In [1]:
# import libraries
import pandas as pd
import numpy as np
import time

In [6]:
# Read in the data from the downloaded csv file(s) into a data frame
df = pd.read_csv('data/AAPL.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-10-04,141.759995,142.210007,138.270004,139.139999,138.364670,98322000
1,2021-10-05,139.490005,142.240005,139.360001,141.110001,140.323685,80861100
2,2021-10-06,139.470001,142.149994,138.369995,142.000000,141.208740,83221100
3,2021-10-07,143.059998,144.220001,142.720001,143.289993,142.491531,61732700
4,2021-10-08,144.029999,144.179993,142.559998,142.899994,142.103699,58773200

In [7]:
df.columns = ['date', 'open', 'high', 'low', 'close', 'adjclose', 'volume']

In [9]:
df['change'] = df['close'] - df['open']
df['ind'] = (df['high']/df['open']) -1
df.head()

,date,open,high,low,close,adjclose,volume,change,ind
0,2021-10-04,141.759995,142.210007,138.270004,139.139999,138.364670,98322000,-2.619996,0.003174
1,2021-10-05,139.490005,142.240005,139.360001,141.110001,140.323685,80861100,1.619996,0.019715
2,2021-10-06,139.470001,142.149994,138.369995,142.000000,141.208740,83221100,2.529999,0.019216
3,2021-10-07,143.059998,144.220001,142.720001,143.289993,142.491531,61732700,0.229995,0.008109
4,2021-10-08,144.029999,144.179993,142.559998,142.899994,142.103699,58773200,-1.130005,0.001041

In [10]:
pos = df[df['change'] > 0]
neg = df[df['change']< 0 ]